<div class="contents row">
  <% @diaries.each do |diary| %>
    <div class="content_post">
      <%= diary.content %><br>
      <img src="<%= diary.image %>" style="max-width: 300px; max-height: 300px;"><br>
      <%= diary.datetime %><br>
      <%= diary.emotion %><br>
      元気度 <%= diary.score %>％<br><br>
    </div>
  <% end %>
</div>